<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Plan My Vacation</title>
    <meta charset="utf-8">
</head>

<body>

<!-- FRAGMENT: NAVBAR -->
<nav th:fragment="navbar(hideStartPlanning)" class="col-12 px-4 py-3 bg-dark text-white" data-bs-theme="dark">
    <div class="d-flex ms-5">

        <!-- WEBSITE HOME -->
        <div class="me-5 p-2 d-flex align-items-center">
            <a th:href="@{/home}" class="navbar-brand border p-2">Plan My Vacation</a>
        </div>

        <!-- MENUS -->
        <div class="me-3 p-2 flex-fill align-self-center">
            <div class="d-flex justify-content-between">

                <div class="d-flex align-items-center">
                    <a th:href="@{/plans/create}"
                       th:hidden="${hideStartPlanning}"
                       class="btn btn-dark me-1 py-0 ">Start planning</a>
                </div>

                <div class="row gx-0">
                    <div class="col-auto">
                        <a th:href="@{/users/register}" class="btn btn-dark me-1 py-0">Sign Up</a>
                    </div>
                    <div class="vr bg-light"></div>
                    <div class="col-auto">
                        <a th:href="@{/users/login}" class="btn btn-dark mx-1 py-0" type="button">Login</a>
                    </div>
                    <div class="col-auto">
                        <a th:href="@{/logout}"  class="btn btn-dark mx-1 py-0" type="button">Logout</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</nav>



<!-- FRAGMENT: FOOTER -->
<footer th:fragment="footer" class="col-12 mt-auto px-2 py-2 bg-dark d-flex flex-wrap justify-content-between align-items-center" style="height: 70px; ">
    <p class="col-md-4 mb-0 ps-4 text-light">&copy; 2024 Krasimir Hristov</p>

    <ul class="nav col-md-4 pe-4 justify-content-end ">
        <li class="nav-item">
            <a th:href="@{/home}" class="btn btn-dark mx-1">Home</a>
        </li>
        <div class="vr bg-light"></div>
        <li class="nav-item">
            <a th:href="@{/contacts}" class="btn btn-dark mx-1">Contacts</a>
        </li>
        <div class="vr bg-light"></div>
        <li class="nav-item">
            <a th:href="@{/jobs}" class="btn btn-dark mx-1">Careers</a>
        </li>
        <div class="vr bg-light"></div>
        <li class="nav-item">
            <a th:href="@{/about}" class="btn btn-dark mx-1">About</a>
        </li>
    </ul>
</footer>



</body>
</html>