<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Plan My Vacation</title>
    <meta charset="utf-8">
</head>

<body>

<div th:fragment="footer">

    <footer class="text-center" style="background-color: rgba(34, 34, 34, 1); color: #fff;">
        <div class="container d-flex justify-content-around p-3">
            <button class="btn btn-sm btn-outline-secondary" type="button" style="border: none">ABOUT US</button>
            <button class="btn btn-sm btn-outline-secondary" type="button" style="border: none">CONTACTS</button>
            <button class="btn btn-sm btn-outline-secondary" type="button" style="border: none">CAREERS</button>
        </div>

        <div class="text-center p-2 pb-4">
            © 2024 Copyright: Krasimir Hristov
        </div>
    </footer>
</div>

</body>
</html>