<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Plan My Vacation</title>
    <meta charset="utf-8">
</head>

<body>

<div th:fragment="footer">

    <footer class="text-center" style="background-color: rgba(34, 34, 34, 1); color: #fff;">
        <div class="container d-flex justify-content-around p-3">
<!--            <ul class="list-group list-group-horizontal">-->
<!--                <li class="list-group-item"><a href="#">ABOUT US</a></li>-->
<!--                <li class="list-group-item"><a href="#">CONTACTS</a></li>-->
<!--                <li class="list-group-item"><a href="#">CAREERS</a></li>-->
<!--            </ul>-->

<!--            <span class="list-group-item"><a href="#" style="color: lightblue">ABOUT US</a></span>-->
<!--            <span class="list-group-item"><a href="#" style="color: lightblue">CONTACTS</a></span>-->
<!--            <span class="list-group-item"><a href="#" style="color: lightblue">CAREERS</a></span>-->
            <button class="btn btn-sm btn-outline-secondary" type="button" style="border: none">ABOUT US</button>
            <button class="btn btn-sm btn-outline-secondary" type="button" style="border: none">CONTACTS</button>
            <button class="btn btn-sm btn-outline-secondary" type="button" style="border: none">CAREERS</button>
        </div>

        <div class="text-center p-2 pb-4">
            © 2024 Copyright: Krasimir Hristov
        </div>
    </footer>
</div>

</body>
</html>