<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Plan My Vacation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <!-- Bootstrap Icons -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <!-- Bootstrap JS -->
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
    <!-- HTMX -->
    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}" defer></script>

    <script type="text/javascript" th:src="@{/js/navbarLanguageSelect.js}" defer></script>

</head>
<body style="height: 100vh;">


    <div class="d-flex align-items-start flex-column text-bg-light g-0 m-0 p-0 h-100" >

        <!-- NAVIGATION -->
        <div th:replace="~{fragments/common::navbar(hideStartPlanning='true')}"></div>


        <!-- PAGE MAIN CONTENT -->
        <main class="container-fluid g-0 overflow-hidden">
            <div class="d-flex">
                <!-- WELCOME -->
                <div class="d-inline-flex bg-warning" >
                    <div class="col-7 mx-auto align-content-center">
                        <h1 th:text="#{page_index_title}">TITLE</h1>
                        <p th:text="#{page_index_descr}" class="lead">DESCRIPTION</p>
                    </div>
                </div>
                <!-- PICTURE -->
                <div class="d-inline-flex ">
                    <img src="/images/traveler.jpg" alt="traveler" style="width:auto;">
                </div>
            </div>
        </main>


        <!-- FOOTER -->
        <div th:replace="~{fragments/common::footer}"></div>
    </div>


</body>
</html>