<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Plan - Plan My Vacation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="/css/mystyle.css">-->

    <style>
        .accordion {
            --bs-accordion-border-radius: none;
            --bs-accordion-inner-border-radius: none;
        }
    </style>
</head>

<body class="p-0">


<div class="d-flex align-items-start flex-column text-bg-light" style="height: 100vh;">

    <!-- NAVIGATION -->
    <nav th:replace="~{fragments/common::navbar(hideStartPlanning='false')}"></nav>


    <!-- CONTENT -->
    <div th:object="${planDetailsData}" class="col-12 gx-0 row flex-grow-1" style="max-height: 83vh">

        <!-- SIDEBAR -->
        <div class="col-6 overflow-auto" style="max-height: 100%">

            <!--SIDEBAR HEAD-->
            <div class="position-relative bg-light" style="width: 100%; height: 35vh;">

                <!--PICTURE-->
                <div class="position-relative" style="width: 100%; height: 30vh; overflow: hidden;">
                    <img th:src="*{location.city.imageUrl}" alt="Barcelona" class="img-fluid w-100">
                </div>

                <!--PLAN NAME-->
                <div class="position-absolute top-100 start-50 translate-middle shadow bg-white rounded" style="width: 60%; height: 5.5em; margin-top:-7%">
                    <div class="d-flex justify-content-center flex-nowrap pt-2 text-dark">
                        <h2>Trip to <span th:text="*{location.getCity().name}">City</span></h2>
                    </div>
                    <div class="d-flex justify-content-center flex-nowrap text-dark">
<!--                        <span th:text="|*{startDate} - *{endDate}|">start date</span>-->
                        <small th:text="*{getDates()}">1/9/84 - 1/9/84</small>
                    </div>
                </div>
            </div>


            <!-- SIDEBAR CONTENT -->
            <div class="mx-5">

                <!-- EXPLORE -->
                <div>
                    <p class="d-inline-flex gap-1">
                    <div class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                        <h6 class="display-6" style="font-size: 1.75rem;">Explore</h6>
                    </div>
                    </p>
                    <div class="collapse show" id="collapseExample">
                        <div class="card card-body">
                            <!--                    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.-->
                            <div class="container">
                                <div class="row d-flex justify-content-around">

                                    <!-- 1st LINK & PIC -->
                                    <div th:replace="~{fragments/sidebar::explore(name='Top places for ' + *{location.getCity().name}, image='top_places_barcelona.jpg')}"></div>

                                    <!-- 2nd LINK & PIC -->
                                    <div th:replace="~{fragments/sidebar::explore(name='All places to visit in ' + *{location.getCity().name}, image='places_to_visit_barcelona.jpg')}"></div>

                                    <!-- 3rd LINK & PIC -->
                                    <div th:replace="~{fragments/sidebar::explore(name='All places to eat in ' + *{location.getCity().name}, image='places_to_eat_barcelona.jpg')}"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MY PLACES -->
                <div class="mt-2">
                    <hr class="border border-secondary-subtle border-5">
                    <div class="mt-3">

                        <div class="row g-2">
                            <div class="col-10"><h6 class="display-6" style="font-size: 1.75rem;">My Places</h6></div>
                            <div class="col-2 mx-0 px-0">
                                <div class="d-flex justify-content-center text-center">
<!--                                    <a href="/plans/{id}/places" id="add_place_btn" class="btn btn-outline-primary opacity-50 rounded-circle">+</a>-->
                                    <button type="button" class="btn btn-outline-primary opacity-50 rounded-circle"
                                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>

<!--                        <h6 class="display-6" style="font-size: 1.75rem;">My Places</h6>-->

                        <!-- BUTTON: ADD PLACE -->
                        <!-- TODO: finish the button implementation below. Should open a MODAL to select from list of places for the given Location-->
<!--                        <a href="/plans/{id}/places" id="add_place_btn" class="btn btn-outline-primary opacity-50 rounded-circle">+</a>-->

                        <div class="mt-4">

                            <!-- PLACES LIST -->
                            <ul th:each="myPlace: *{myPlaces}" class="list-group list-group-flush border-bottom scrollbar">
                                <!--                                <li th:replace="~{fragments/sidebar::place(${myPlace})}"></li>-->
                                <li th:replace="~{fragments/sidebar::place(place = ${myPlace}, planId = ${planDetailsData.id})}"></li>
                            </ul>

                        </div>
                    </div>
                </div>

                <!-- Itinerary -->
                <div class="mt-4">
                    <hr class="border border-secondary-subtle border-5">
                    <div class="mt-3">
                        <h6 class="display-6" style="font-size: 1.75rem;">Itinerary</h6>
                        <div class="mt-4 bg-warning">


                            <!-- ITINERARY (days) LIST -->
                            <div class="accordion" id="accordionPanelsStayOpenExample">

                                <!-- TODO: Implement Thymeleaf to control the list items -->
                                <ul th:each="itinerary: *{itineraries}" class="list-group list-group-flush">

                                    <li class="list-group-item">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header">
                                                <button th:text="|Day ${itinerary.getDayNo()}|"  class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="|#panel_${itinerary.getDayNo()}|" aria-expanded="false" th:aria-controls="|panel_${itinerary.getDayNo()}|">
                                                    Day 2
                                                </button>
                                            </h2>
                                            <div th:id="|panel_${itinerary.getDayNo()}|" class="accordion-collapse collapse">
                                                <div class="accordion-body">

                                                    <!-- TODO: Implement Thymeleaf to control the list items -->
                                                    <ul th:each="activity: ${itinerary.activities}" class="list-group list-group-flush border-bottom scrollbar">

                                                        <!-- FRAGMENT: ACTIVITY -->
                                                        <li th:replace="~{fragments/sidebar::activity(${activity})}"></li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>

                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- MAP -->
        <div class="col-6">
<!--            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95780.47787015322!2d2.057788801385641!3d41.39276734229955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49816718e30e5%3A0x44b0fb3d4f47660a!2sBarcelona%2C%20Spain!5e0!3m2!1sen!2sbg!4v1719850383198!5m2!1sen!2sbg" width=100% height=100% style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
            <iframe th:src="*{location.gpxCoordinates}"
                    width=100% height=100% style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <!-- MODAL TEST -->
    <div th:replace="~{fragments/modals::top-places(allPlaces=${allPlacesData}, city = ${planDetailsData.location.city.name})}"></div>



    <!-- FOOTER -->
    <footer th:replace="~{fragments/common::footer}"></footer>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>