<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Plan | Plan My Vacation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <!-- Bootstrap Icons -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <!-- Bootstrap JS -->
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
    <!-- HTMX -->
    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}" defer></script>

    <script type="text/javascript" th:src="@{/js/navbarLanguageSelect.js}" defer></script>

    <style>
        main {
            background-image: url('/images/new-plan-bg.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>


<div class="d-flex align-items-start flex-column text-bg-light" style="height: 100vh;">


    <!-- NAVIGATION -->
    <div th:replace="~{fragments/common::navbar(hideStartPlanning='true')}"></div>


    <!-- PAGE MAIN CONTENT -->
    <main class="col-12 gx-0 p-0 row flex-grow-1 bg-dark d-flex justify-content-center">
        <div class="col-3"
             style="border-left: 1px solid rgba(255, 255, 255, 0.1);
             border-right: 1px solid rgba(255, 255, 255, 0.1);
             display: flex; flex-direction: column; justify-content: center; backdrop-filter: blur(15px);" >

            <div class="container px-0">
                <h2 class="mb-5 display-6 text-center text-white" style="text-shadow: 0 0 10px black;">PLAN A NEW TRIP</h2>
                <form
                        th:method="POST"
                        th:action="@{/plans/create}"
                        th:object="${planCreateData}"
                        class="main-form mx-auto d-flex flex-column justify-content-center align-items-center">

                    <!-- INPUT: LOCATION -->
                    <div class="form-group col-lg-8 col-md-6 mb-3">
                        <label th:for="cityName" class="text-center text-white font-weight-bold">Where</label>
                        <select th:field="*{cityName}" id="cityName" name="cityName" class="form-control">
                            <option value="">- Select a location -</option>
                            <optgroup th:each="entry : ${countriesData}" th:label="${entry.key}">
                                <option th:each="city: ${entry.value}"
                                        th:value="${city.getName()}"
                                        th:text="${city.getName()}">City</option>
                            </optgroup>
                        </select>
                    </div>

                    <!-- INPUT: START DATE -->
                    <div class="form-group col-lg-8 col-md-6 mb-3">
                        <label th:for="startDate" class="text-center text-white font-weight-bold">From</label>
                        <input th:field="*{startDate}" type="date" class="form-control" id="startDate"/>
                    </div>

                    <!-- INPUT: END DATE -->
                    <div class="form-group col-lg-8 col-md-6 mb-3">
                        <label th:for="endDate" class="text-center text-white font-weight-bold">To</label>
                        <input th:field="*{endDate}" type="date" class="form-control" id="endDate"/>
                    </div>

                    <!-- BUTTON: START PLANNING -->
                    <div class="row mt-5">
                        <div class="col col-md-4">
                            <div class="button-holder d-flex">
                                <input type="submit" class="btn btn-primary" value="Start planning"/>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </main>


    <!-- FOOTER -->
    <div th:replace="~{fragments/common::footer}"></div>


</div>

</body>
</html>