<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register - Plan My Vacation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <!-- Bootstrap Icons -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <!-- Bootstrap JS -->
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
    <!-- HTMX -->
    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}" defer></script>

    <script type="text/javascript" th:src="@{/js/navbarLanguageSelect.js}" defer></script>
<!--    <script type="text/javascript" th:src="@{/js/formSubmissionsStarter.js}" defer></script>-->

</head>
<body>


<div class="d-flex align-items-start flex-column text-bg-light" style="height: 100vh;">


    <!-- NAVIGATION -->
    <div th:replace="~{fragments/common::navbar(hideStartPlanning='true')}"></div>


    <!-- PAGE MAIN CONTENT -->
    <div class="col-12 gx-0 p-0 row flex-grow-1 bg-secondary d-flex justify-content-center">

        <div class="col-4" style="display: flex; flex-direction: column; justify-content: center">

            <!-- FORM -->
            <form th:method="POST"
                  th:action="@{/users/register}"
                  th:object="${registerData}"
                  novalidate
                  class="main-form needs-validation mx-auto col-md-8 d-flex flex-column justify-content-center">

                <div class="d-flex flex-column align-items-center" style="gap: 2.4rem">

                    <!-- USERNAME -->
                    <div class="col-11 form-floating">
                        <input th:field="*{username}"
                               th:classappend="${not #lists.isEmpty(#fields.errors('username'))} ? 'is-invalid'"
                               type="text" class="form-control" id="username" name="username">
                        <label th:text="#{page_register_username}" for="username">
                            USERNAME</label>
                        <div th:each="err : ${#fields.errors('username')}" th:text="${err}"
                             class="invalid-tooltip">INVALID DATA</div>
                    </div>

                    <!-- EMAIL -->
                    <div class="col-11 form-floating">
                        <input th:field="*{email}"
                               th:classappend="${not #lists.isEmpty(#fields.errors('email'))} ? 'is-invalid'"
                               type="email" class="form-control" id="email" name="email" >
                        <label th:text="#{page_register_email}" for="email">
                            EMAIL</label>
                        <div th:each="err : ${#fields.errors('email')}" th:text="${err}"
                             class="invalid-tooltip">INVALID DATA</div>
                    </div>

                    <!-- PASSWORD -->
                    <div class="col-11 form-floating">
                        <input th:classappend="${not #lists.isEmpty(#fields.errors('password'))} ? 'is-invalid'"
                               type="password" class="form-control" id="password" name="password">
                        <label th:text="#{page_register_password}" for="password">
                            PASSWORD</label>
                        <div th:each="err : ${#fields.errors('password')}" th:text="${err}"
                             class="invalid-tooltip">INVALID DATA</div>
                    </div>

                    <!-- CONFIRM PASSWORD -->
                    <div class="col-11 form-floating">
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                        <label th:text="#{page_register_confirm_password}" for="confirmPassword">
                            CONFIRM PASSWORD</label>
                    </div>

                    <!-- SUBMIT: REGISTER -->
                    <div class="row">
                        <div class="col col-md-4">
                            <div class="button-holder">
                                <input th:value="#{page_register_register}" type="submit" class="btn btn-warning btn-lg" />
                            </div>
                        </div>
                    </div>

                </div>
            </form>

        </div>

    </div>


    <!-- FOOTER -->
    <div th:replace="~{fragments/common::footer}"></div>


</div>


</body>
</html>