<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:hx-on="http://www.w3.org/1999/xhtml">
<head>
    <title>Plans - Plan My Vacation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <!-- Bootstrap Icons -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <!-- Bootstrap JS -->
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
    <!-- HTMX -->
    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}" defer></script>

    <script type="text/javascript" th:src="@{/js/navbarLanguageSelect.js}" defer></script>

    <style>
        tr.htmx-swapping td {
            opacity: 0;
            transition: opacity 1s ease-out;
        }
    </style>
</head>
<body>


<div class="d-flex align-items-start flex-column text-bg-light" style="height: 100vh;">


    <!-- NAVIGATION -->
    <div th:replace="~{fragments/common::navbar(hideStartPlanning='false')}"></div>


    <!-- PAGE MAIN CONTENT -->
    <div class="container h-100 d-flex align-items-end flex-column">

        <!-- FILTER BUTTONS: ACTIVE / INACTIVE / ALL -->
        <!--<div class="col-3 mx-auto d-flex justify-content-center">
            <div class="btn-group btn-group-sm py-3 w-100" role="group" aria-label="Basic radio toggle button group">

                &lt;!&ndash; FILTER: ACTIVE &ndash;&gt;
                <input
                        hx-get="/plans?status=active"
                        hx-swap="outerHTML"
                        hx-target="#plans-table"
                        hx-trigger="click"
                        id="btnradio1"
                        name="plans-status"
                        type="radio"
                        class="btn-check plans-status"
                        autocomplete="off"
                        value="active"
                        data-qp-class="plans-status"
                        checked>
                <label class="col-12 btn btn-outline-primary" for="btnradio1" th:text="Active">ACTIVE</label>

                &lt;!&ndash; FILTER: INACTIVE &ndash;&gt;
                <input
                        hx-get="/plans?status=inactive"
                        hx-swap="outerHTML"
                        hx-target="#plans-table"
                        hx-trigger="click"
                        id="btnradio2"
                        name="plans-status"
                        type="radio"
                        class="btn-check plans-status"
                        autocomplete="off"
                        value="inactive"
                        data-qp-class="plans-status">
                <label class="col-12 btn btn-outline-primary" for="btnradio2" th:text="Inactive">INACTIVE</label>

                &lt;!&ndash; FILTER: ALL &ndash;&gt;
                <input
                        hx-get="/plans?status=all"
                        hx-swap="outerHTML"
                        hx-target="#plans-table"
                        hx-trigger="click"
                        id="btnradio3"
                        name="plans-status"
                        type="radio"
                        class="btn-check plans-status"
                        autocomplete="off"
                        th:value="all"
                        data-qp-class="plans-status">
                <label class="col-12 btn btn-outline-primary" for="btnradio3" th:text="All">ALL</label>
            </div>
        </div>-->

        <!-- TABLE PLANS -->
        <table th:object="${usersData}" class="table table-sm table-hover align-middle text-center">
            <thead>
            <tr class="table-primary fs-5">
                <th scope="col" class="col-1 py-2" th:text="ID">
                    ID </th>
                <th scope="col" class="col-3 py-2" th:text="Username">
                    USERNAME </th>
                <th scope="col" class="col-3 py-2" th:text="Email">
                    EMAIL </th>
                <th scope="col" class="col-2 py-2" th:text="Role">
                    ROLE </th>
                <th scope="col" class="col-2 py-2">
                    &nbsp; </th>
            </thead>
            <tbody th:replace="~{fragments/tables::users}"></tbody>
        </table>

        <!-- TABLE PAGINATION -->
<!--        <div th:replace="~{fragments/tables::pagination}"></div>-->

    </div>


    <!-- FOOTER -->
    <div th:replace="~{fragments/common::footer}"></div>


</div>


</body>
</html>